<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Price Comparison</title>

    <!-- css files -->
    <link href="/static/css/styles.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    />
    <!-- end of css files -->
  </head>

  <body>
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container px-5">
        <a class="navbar-brand" href="#!">PriceePal</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#!">Home</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="#!">Services</a></li>
          </ul>

          <ul>
            <form
              class="my-2 my-lg-0 custom-form-row"
              method="post"
              action="/search"
            >
              <input
                class="form-control mr-sm-2"
                type="search"
                name="search"
                placeholder="Search"
                aria-label="Search"
              />
              <button
                class="btn btn-outline-success my-2 my-sm-0 mx-3"
                type="submit"
              >
                Search
              </button>
            </form>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header-->
    <header class="bg-dark py-1">
      <div class="container px-5">
        <div class="row gx-5 justify-content-center">
          <div class="col-lg-6">
            <div class="text-center my-5">
              <h1 class="display-5 fw-bolder text-white mb-2">
                Present your business in a whole new way
              </h1>
              <p class="lead text-white-50 mb-4">
                Quickly design and customize responsive mobile-first sites with
                Bootstrap, the world’s most popular front-end open source
                toolkit!
              </p>
              <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features"
                  >Get Started</a
                >
                <a class="btn btn-outline-light btn-lg px-4" href="#!"
                  >Learn More</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <br />
    <!-- prodcut details -->
    <div class="container mt-6">
      <div class="row">
        <!-- Amazon data displayer -->
        <div class="col-md-4">
          <img
            src="/static/logo/amazon.png"
            alt="amazon"
            style="width: 400px; height: 300px"
          />
          {% for product in amazon_products %}

          <div class="card mb-4">
            <img
              src="{{ product.product_photo }}"
              class="card-img-top"
              alt="{{ product.product_title }}"
              style="width: 400px; height: 400px"
            />

            <div class="card-body">
              <h5 class="card-title">{{ product.product_title }}</h5>
              <p class="card-text">{{ product.product_price }}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Original Price: {{ product.product_original_price }}
              </li>
              <li class="list-group-item">
                Star Rating: {{ product.product_star_rating }}
              </li>
            </ul>
            <div class="card-body">
              <a
                href="{{ product.product_url }}"
                class="card-link"
                target="_blank"
                >View on Amazon</a
              >
            </div>
          </div>
          {% endfor %}
        </div>
        <!-- End of Amazon data displayer -->

        <!-- AliExpress data displayer -->
        <div class="col-md-4">
          <img
            src="/static/logo/ali_express.png"
            alt="ali express"
            style="width: 400px; height: 300px"
          />
          {% for product in ali_express_products %}

          <div class="card mb-4">
            <img
              src="{{ product.item.image }}"
              class="card-img-top"
              alt="{{ product.item.title }}"
              style="width: 400px; height: 400px"
            />
            <div class="card-body">
              <h5 class="card-title">{{ product.item.title }}</h5>
              <p class="card-text">
                Price: {{ product.item.sku.def.promotionPrice }} USD
              </p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Sales: {{ product.item.sales }}</li>
              <li class="list-group-item">
                Free Shipping: {% if product.delivery.freeShipping %}Yes{% else
                %}No{% endif %}
              </li>
            </ul>
          </div>
          {% endfor %}
        </div>
        <!-- End of AliExpress data displayer -->
      </div>
    </div>

    <!-- Contact section-->
    <section class="bg-light py-5" id="contact">
      <div class="container px-5 my-5 px-5">
        <div class="text-center mb-5">
          <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
            <i class="bi bi-envelope"></i>
          </div>
          <h2 class="fw-bolder">Get in touch</h2>
          <p class="lead mb-0">We'd love to hear from you</p>
        </div>
        <div class="row gx-5 justify-content-center">
          <div class="col-lg-6">
            <form id="contactForm" data-sb-form-api-token="API_TOKEN">
              <!-- Name input-->
              <div class="form-floating mb-3">
                <input
                  class="form-control"
                  id="name"
                  type="text"
                  placeholder="Enter your name..."
                  data-sb-validations="required"
                />
                <label for="name">Full name</label>
                <div class="invalid-feedback" data-sb-feedback="name:required">
                  A name is required.
                </div>
              </div>
              <!-- Email address input-->
              <div class="form-floating mb-3">
                <input
                  class="form-control"
                  id="email"
                  type="email"
                  placeholder="name@example.com"
                  data-sb-validations="required,email"
                />
                <label for="email">Email address</label>
                <div class="invalid-feedback" data-sb-feedback="email:required">
                  An email is required.
                </div>
                <div class="invalid-feedback" data-sb-feedback="email:email">
                  Email is not valid.
                </div>
              </div>
              <!-- Phone number input-->
              <div class="form-floating mb-3">
                <input
                  class="form-control"
                  id="phone"
                  type="tel"
                  placeholder="(123) 456-7890"
                  data-sb-validations="required"
                />
                <label for="phone">Phone number</label>
                <div class="invalid-feedback" data-sb-feedback="phone:required">
                  A phone number is required.
                </div>
              </div>
              <!-- Message input-->
              <div class="form-floating mb-3">
                <textarea
                  class="form-control"
                  id="message"
                  type="text"
                  placeholder="Enter your message here..."
                  style="height: 10rem"
                  data-sb-validations="required"
                ></textarea>
                <label for="message">Message</label>
                <div
                  class="invalid-feedback"
                  data-sb-feedback="message:required"
                >
                  A message is required.
                </div>
              </div>
              <!-- Submit success message-->
              <!---->
              <!-- This is what your users will see when the form-->
              <!-- has successfully submitted-->
              <div class="d-none" id="submitSuccessMessage">
                <div class="text-center mb-3">
                  <div class="fw-bolder">Form submission successful!</div>
                  To activate this form, sign up at
                  <br />
                  <a href="https://startbootstrap.com/solution/contact-forms"
                    >https://startbootstrap.com/solution/contact-forms</a
                  >
                </div>
              </div>
              <!-- Submit error message-->
              <!---->
              <!-- This is what your users will see when there is-->
              <!-- an error submitting the form-->
              <div class="d-none" id="submitErrorMessage">
                <div class="text-center text-danger mb-3">
                  Error sending message!
                </div>
              </div>
              <!-- Submit Button-->
              <div class="d-grid">
                <button
                  class="btn btn-primary btn-lg disabled"
                  id="submitButton"
                  type="submit"
                >
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- end of contact block-->

    <!-- Footer-->
    <footer class="py-5 bg-dark">
      <div class="container px-5">
        <p class="m-0 text-center text-white">
          Copyright &copy; Priceepal 2023
        </p>
      </div>
    </footer>
    <!-- end of footer -->

    <!-- js files -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    <script src="/static/js/scripts.js"></script>
    <!-- end of js files -->
  </body>
</html>
